body{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(#646363);
    font-family: Arial, sans-serif;

}

.content{
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 10px;
}

.floatingDiv{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

#win-input{
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}
input:focus {
    outline-color: rgb(17, 17, 17);
}
#add-win-button{
    padding: 10px 20px;
    background-color: #eceaea;
    color: rgb(145, 139, 139);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

#add-win-button:hover{
    background-color: #030303;
    color: white;
}

#userName{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0;
}

#pageTitle{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    color: rgb(102, 98, 98);
}

.navbarContainer {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}

.navIcon {
    font-size: 25px;
    cursor: pointer;
    padding: 8px;
    background-color: rgb(#646363);
    border-radius: 8px;
    color: rgb(0, 0, 0);
}


.navbar {
    position: absolute;
    top: 0;
    left: 45px;
    background-color: #e2e0e0;
    border-radius: 16px;
    margin-left: 0px;
    min-width: 20px;
    display: none; 
    flex-direction: row;
    gap: 15px; 
    padding: 10px 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.navbar a {
    color: rgb(80, 78, 78);
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 25px;
    white-space: nowrap;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #d8d5d5;
    color:#2b2828;
}
.navbarContainer:hover .navbar, .navbar.open {
    display: flex;
}

.secondPage{
    display: none;
    
}

.select-container{
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color:#807e7e;
}

.dropdown-left{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 20px;
}
.dropdown-right{
    margin-right: 20px;
    margin-left: 10px;
    line-height: 20px;
}

select{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 150px;
}

#post-button{
   padding: 10px 20px;
    background-color: #eceaea;
    color: rgb(145, 139, 139);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

#post-button:hover{
    background-color: #030303;
    color: white;
}